
link(rel='stylesheet', type='text/css', href='/css/application.css')



canvas#canvas
div#buffer(style="display:none;")
	//- <canvas id="canvas" style="position:absolute; top:0; left:0;"></canvas>

script(src="/js/mgt.js?")